


{% if customer %} {% assign digest = customer.id | append:customer.email | append:'1f39e907-4222-474a-8f52-3b8ab3cecb8c' | md5 %} {% endif %}

<script type="text/javascript">
window.sloyalty = window.sloyalty || {};
window.sloyalty.shop = 'thefoodistsg.myshopify.com';

window.sloyalty.customer_id = '{% if customer %}{{ customer.id }}{% endif %}';
window.sloyalty.digest = '{% if customer %}{{ digest }}{% endif %}';

</script>




  


{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'1f39e907-4222-474a-8f52-3b8ab3cecb8c' | md5 %}

<div class="sloyalty-loyalty-widget"
     data-digest="{{ digest }}"
     data-shop="thefoodistsg.myshopify.com"
     data-version="2"
     data-widget-css="bottom:0px;right:20px;"
     data-overlay-css=""
     data-customer="{{ customer.id }}"></div>
{% else %}
<div class="sloyalty-loyalty-widget"
     data-shop="thefoodistsg.myshopify.com"
     data-version="2"
     data-widget-css="bottom:0px;right:20px;"
     data-overlay-css=""></div>
{% endif %}





<div class="sloyalty-referral-widget"
     data-shop="thefoodistsg.myshopify.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>






{% if customer %}
{% assign digest = customer.id | append:customer.email | append:'1f39e907-4222-474a-8f52-3b8ab3cecb8c' | md5 %}

<div class="sloyalty-standalone-share-widget"
     data-shop="thefoodistsg.myshopify.com"
     data-customer="{{ customer.id }}"
     data-digest="{{ digest }}"></div>
{% else %}
<div class="sloyalty-standalone-share-widget"
     data-shop="thefoodistsg.myshopify.com"
     data-customer=""></div>
{% endif %}






<div class="sloyalty-fans-widget"
     data-shop="thefoodistsg.myshopify.com"
     data-customer="{% if customer %}{{ customer.id }}{% endif %}"></div>


