<!-- Bold: Options --> 
<script>function update_qty_builder(builder_id, qty){ jQuery('.'+builder_id+"_qty").val(qty.value); } function remove_product_builder(builder_id){ jQuery('.'+builder_id+"_qty").val(0); jQuery('.'+builder_id+"_qty").parents("form").submit(); }</script>
{% include 'bold-cart-handler' %}

<div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title">Cart</h1>

    {% if cart.item_count > 0 %}
      <div class="continue_shopping">
        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}">Continue Shopping &rarr;</a>
      </div>
    {% endif %}
  </div>

  {% if cart.item_count == 0 %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <p class="quote">There are no items in your cart. <a href="/collections/all">Continue Shopping &rarr;</a></p>    
        <br class="clear" />

        {% assign collection = '' %}
        {% assign products = collections[settings.frontpage_collection].products %}
        {% assign products_per_row = settings.frontpage_products_per_row %}
        {% include 'product-loop' %}
      </div>
    </div>
  {% else %}

  <form action="/cart" method="post" id="cart_form">   
     <input type="hidden" name="discount" id="discount" value="" />
 
    <div class="section clearfix">  
      <div class="ten columns cart_items">
        <h4 class="title">Products</h4>
        {% for item in cart.items %}
            {% include 'saw_compute_discount' with item.product %}
        {% include 'saw_variant' with item.variant %}

        {% include 'boldoptions' with 'step2' %}
        
          <div class="five columns alpha {% include 'boldoptions' with 'step3' %}" style="{% include 'boldoptions' with 'step4' %}">
            <a class="cart_page_image" href="{{ item.product.url }}" title="{{ item.product.title | escape }}">
             {% assign found = false %}
             {% for img in item.product.images %}
               {% if found == false and item.variant.title contains img.alt %}
              {% if builder[0] %}
                  <img src="{{ builder[1] }}" alt="{{ builder[0] }}" /> 
                  {% else %}
                 <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ img | product_img_url: 'medium' }}" data-src-retina="{{ img | product_img_url: 'grande' }}"  alt="{{ item.product.title | escape }}" />
                  {% endif %}
                 {% assign found = true %}
                {% endif %}
             {% endfor %}
             {% if found == false %}
               <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ item.product.featured_image | product_img_url: 'medium' }}" data-src-retina="{{ item.product.featured_image | product_img_url: 'grande' }}" alt="{{ item.product.title | escape }}" />
             {% endif %}           
            </a>
          </div>

          <div class="five columns omega" style="{% include 'boldoptions' with 'step4' %}">
            <p>
              <a href="{{ item.product.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
            </p> 
            
            {% if item.properties %}
              <p>
              {% include 'boldoptions' with 'step6' %}
              </p>
            {% endif %}

            <p class="price_total">
   {% if saw_discount == 1 %}
	          {{ item.line_price | money }}    
              {% else %}
                  
                {{saw_variant_price | times: item.quantity | money }}<br>
		<del>{{ saw_variant_compare_at_price  | times: item.quantity | money }}</del>
                  
              {% endif %} 
 
              
              {% comment %}              
              {% include 'boldoptions' with 'step12' %}
              {% endcomment %}
            </p>

            <p id="quantity_{{ forloop.index }}">
              <label for="updates_{{ item.id }}" class="quantity_label">Quantity:</label>
              <input type="number" min="0" size="3" maxlength="3" class="quantity {% include 'boldoptions' with 'step7' %}" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" {% include 'boldoptions' with 'step8' %}/>
            </p>

            <p class="remove_item">
              <a class="{% include 'boldoptions' with 'step10' %}" href="{% include 'boldoptions' with 'step9' %}" {% include 'boldoptions' with 'step11' %} title="Remove Item">Remove</a>
            </p>
          </div>
          <br class="clear" />
          <br class="clear" />
        {% endfor %}
      </div>
		
      <div class="five columns offset-by-one">
        <h4 class="subtotal">
          Subtotal
        </h4>

        <p class="subtotal_amount">
          <strong><span class="saw-cart-original-total">{{ cart.total_price | money_with_currency }}</span><br>
<span class="total saw-cart-total"></span></strong> 
          
<div style="text-align: left;">
          <span class="saw-hidden saw-discount-info ">Use discount code <span class="saw-discount-code"></span></span>
          <span class="saw-hidden saw-tax-info "><br>Are you in <span id="saw-tax-countries"></span> ? 
            <a href="#" class="show-tax-info">Click here to learn how to get tax exemption.</a></span>
          <span class="saw-hidden saw-tax-info-details "><br>When you checkout, please use <strong>Aruba</strong> as <strong>Shipping Address Country</strong><br>
          	We'll ship your items to the <strong>Billing Address's State and Country</strong>. Thanks!
          </span>
</div>
 
        
          <small id="estimated-shipping" style="display:none">+ <em>{{ 0 | money }} estimated shipping</em></small>

<!--           {% unless settings.tax_included %}
            <small class="excluding_tax"><em>Excluding tax &amp; shipping</em></small>
          {% endunless %} -->
        </p>

        {% if settings.show_multiple_currencies %}
          <p>
            <small>
              Orders will be processed in {{ shop.currency }}.
            </small>
          </p>
        {% endif %}

        
        {% if settings.display_special_instructions %} 
          <label for="note">Note to {{ shop.name }}:</label>
          <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>        
        {% endif %}

        <p>
         {% include 'checkout-button' %} 
         
        </p>
        
        {% if settings.display_additional_checkout and additional_checkout_buttons %}
          <p class="center">
            {{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
          </p>
        {% endif %}
      </div>
    </div>
  </form>
  
  {% include 'cart-shipping-calculator' %}
  <br class="clear" />
  <br class="clear" />
{% endif %}
<input id="needto" value="{{ needtochange }}" type="hidden">

{% include 'bold-cart-modal' %}


<script>
  function SAWOrderNote(note) {
	note = note.replace(/something to change/i, "");
 	return note
  }
</script>
 
{% include 'saw_cart' %}
 
<script>
  if (typeof BuyXSubmit == "function") {
    var buyx_checkout_selectors = ["input[name='checkout']", "button[name='checkout']", "input[name='goto_pp']", "button[name='goto_pp']", "input[name='goto_gc']", "button[name='goto_gc']", "[href$='checkout']"];
    window.buyx_cart_global = {{ cart | json }}
    buyx_checkout_selectors.forEach(function(selector) {
        jQuery(selector).bind("click", function() {
          console.log("click")
            return BuyXSubmit(window.buyx_cart_global, "#updates_{variant_id}");
        })
    });
  }
/*use appropriate selector for your theme, e.g.
      return BuyXSubmit({{cart | json}}, "input[data-id={variant_id}]");
*/
</script>
 

